
/* .login {
  text-align: right;
} */

#logo {
  float: left;
}

.hidden {
  display: none;
}

.hover:hover {
  cursor: pointer;
}

.block, label {
  display: block;
}

input[type=radio] {
  flex: 0 0 auto;
  margin-right: 20px;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

a {
  text-decoration: none;
}

.js-error-message {
  color: FF0000;
}
