
body * {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FFFFFF;
}

body::after {
  content: "";
  background: url(../images/fam-kitchen.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  background: rgba(204, 175, 129, 0.5);
  width: 100%;
  padding: 1rem;
  height: 4rem;
}

h1 {
  display: inline-block;
  margin: 0;
  width: 100%
  margin-left: auto;
  margin-right: auto;
}

.vl {
  height: 3rem;
  border-left: 3px solid #70B38A;
  padding: 0 10px 0 0;
  margin-left: 10px;
}

.home {
  margin-left: 15px;
}

#logo {
  float: left;
  height: 2rem;
  width: 3.5rem;
  border-color: #000000;
  border: 1px;
}

.login-nav {
  float: right;
}

.nav {
  text-align: center;
}

.homepage-container {
  left: auto;
  right: auto;
  text-align: center;
}

.hidden {
  display: none;
}

.hover:hover {
  cursor: pointer;
}

.block, label {
  display: block;
}

input[type=radio] {
  flex: 0 0 auto;
  margin-right: 20px;
}

ul {
  list-style: none;
}

li {
  margin-top: 10px;
}

fieldset {
  border: none;
}

.client-edit-img, .client-delete-img {
  height: 1rem;
  width: 1rem;
}

a {
  text-decoration: none;
  color: #000000;
}

.js-error-message {
  color: #FF0000;
}

input[type=button], input[type=submit], button {
  height: 2rem;
  width: 8rem;
  background: #BAFFD4;
  border-radius: 5px;
  border-color: #70B38A;
}

#js-no-account, .blue {
  color: #0000EE;
}

input[type=text], input[type=number], input[type=password] {
  display: block;
}

.center-input {
  margin-left: auto;
  margin-right: auto;
}

input[type=button], input[type=submit] {
  margin-top: 1rem;
}

.js-client-delete-button:hover, .js-chore-delete-button:hover {
  background: #FF756E;
  font-weight: bold;
}

.signup-center, .login-center {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.button:hover {
  background: #6EFFA5;
}

.go-signup-button {
  width: 8rem;
}

.bold {
  font-weight: bold;
}

section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  border-radius: 5px;
  background-color: rgba(204, 175, 129, 0.5);
  padding: 15px;
  margin-top: 15px;
}

@media screen and (max-width: 640px) {

  .col-3, .col-4, .col-6, .col-12, {
    width: 100%;
  }

  header {
    height: 6rem;
  }

  h1 {
    font-size: 1rem;
  }

  button {
    width: 4rem;
  }
}

@media screen and (min-width: 641px) {
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33%;
  }
  .col-6 {
    width: 50%;
  }
  .col-8 {
    width: 66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-12 {
    width: 100%;
  }
}
